.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;    
}

#sticker {
    height: 300px;
    width: auto;
}

.loading-text {
    font-size: 20px;
    margin: 0;
}